<!-- Lets render the "layout" template -->
{% extends 'layoutForForgotPW.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

<form>
	<div class="text-center">
	  <h2>Enter Email</h2>
	  <hr>
	</div>
	<div class="form-group">
	  <label for="emailInput">Email</label>
	  <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
  </form>

  
{% endblock %}