<!-- Lets render the "layout" template -->
{% extends 'layoutForForgotPW.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

<form>
	<div class="text-center">
	  <h2>Password Reset</h2>
	  <hr>
	</div>
	<div class="form-group">
	  <label for="passwordInput1">New Password</label>
	  <input type="password" class="form-control" id="passwordInput1" placeholder="Enter new password">
	</div>
	<div class="form-group">
	  <label for="passwordInput2">Confirm Password</label>
	  <input type="passwordConfirm" class="form-control" id="passwordInput2" placeholder="Retype new password">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
  </form>

  
{% endblock %}